  <p>Items:</p>
  <ul>
    <% 
      @order.order_items.each do |order_item| 
        item = order_item.item
    %>
      <li>
        <%= item.name %>, 
        ordered: <%= order_item.quantity %> (per item:<%= item.price %>), 
        subtotal: <%= item.price*order_item.quantity %>
      </li>
    <% end %>
  </ul>