<h1>Orders dashboard</h1>

<h3>Orders by status</h3>
<ul id="status_filter">
<% @orders_counts.each do |status, count| %>
  <li>
    <%= link_to status, status_filter_path(status) %> (<%=count%>)
  </li>
<% end %>
</ul>

<h3>All orders</h3>
<ul id="orders_list">
  <% @orders.each do |order| %>
    <li>
      <%= link_to "Order id: #{order.id}", order_path(order) %> 
      <% if !order.statuses.nil? %>
        Mark as: 
        <% order.statuses.each do |status| %>
          <%= link_to status, status_change_path(order.id, status) %>
        <% end %>
      <% end %>
    </li>
  <% end %>
</ul>
