<h1>Listing carts</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Session</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @carts.each do |cart| %>
      <tr>
        <td><%= cart.user_id %></td>
        <td><%= cart.session_id %></td> 
      </tr>
    <% end %>
  </tbody>
</table>

<br>

