<h2>Dinner Dash</h2>
<div>
  <div id="items">
    <% @items.each do |item| %>
      <div class="product">
        <p>
          <% if item.image.exists? %>
            <%= link_to image_tag(item.image.url(:thumb)) , item_path(item) %>
          <% end %>
        </p>
        <div><h4><%= link_to item.name, item_path(item), class: 'item_name', id: "item_#{item.id}" %></h4></div>
        <div>£<%= item.price %>.00</div>
        <div><%= item.quantity %> in stock</div>
      </div>
    <% end %>
  </div>
</div>
<div class="clear"></div>
<br /><br />
